body {
	font-family: Ubuntu, sans-serif;
	background-color: #ddd;
	line-height: 1.6;
	margin: 0;
}
code {
	color: #333;
	font-family: DejaVu mono, Ubuntu mono, monospace;
}

#navbar {
	background-color: #025;
	position: sticky;
	top: 0;
	width: 100%;
}
#navbar * {
	color: #ccc;

	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#navbar li {
	float: left;
}
#navbar a {
	display: block;
	text-align: center;
	padding: 16px 16px;
	text-decoration: none;
}
#navbar a:hover {
	background-color: black;
}
#navbar a.cur {
	font-weight: bold;
}

#content {
	margin: 2em;
}

/* green: 0a0; 080 */
a		{ text-decoration: none; }
a:link		{ color: #c0c; }
a:visited	{ color: #a0a; }
a:hover		{ color: #c0c; text-decoration: underline; }
a.netbsd	{ text-decoration: none; }
a.netbsd:link	{ color: #f26720; }
a.netbsd:visited { color: #800; }
a.netbsd:hover	{ color: #f26720; text-decoration: underline; }
